body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.role {
  margin: 0 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 200px;
}

.button.secondary {
  background-color: white;
  color: #333;
  border: 2px solid #333;
}

.button:hover {
  background-color: #555;
}

.button.secondary:hover {
  background-color: #f2f2f2;
}

.divider {
  border-left: 2px solid #333;
  height: 100px;
  margin: 0 20px;
}
